<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To-Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <script type="text/javascript" src="js/hybrid-crypto.min.js"></script>
  <script src="js/myjs.js"></script>
</head>

<body>
